.successfulMessage {
  color: rgb(16, 117, 48);
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(31, 233, 31);
  padding: 10px;
  margin-bottom: 10px;
}

.errorMessage {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  
}